.card {
    border-radius: 12px;
}

.table {
    thead {
        border-bottom: 2px solid #dee2e6;

        th {
            color: #6c757d;
        }
    }
}

.custom-btn {
    border-radius: 20px;
    padding: 0.3rem 1.5rem;
    font-weight: 500;
}