// SCSS variables for theme colors and font
$font-family-base: 'Montserrat', Arial, sans-serif;
$primary: #4D49B3;
$secondary: #00905F;
$success: #00905F;
$info: #CD60AE;
$warning: #FFB900;
$danger: #C31818;
$light: #FEFEFE;
$dark: #212122;
