.sidebar {
  width: 110px;
  height: calc(100vh - 70px);
  position: sticky;
  top: 70px;
  left: 0;
  transition: width 0.3s ease;
  z-index: 1025;
  overflow-y: auto;
  
  .sidebar-content {
    padding: 1.5rem 0;
    width: 110px;
    background-color: var(--bs-dark) ;
    margin-top: 25px;
    border-radius: 0 50px 50px 0;
      
      .menu-title {
        font-size: 0.75rem;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        color: var(--bs-gray-500);
        padding: 0 1.5rem;
        margin-bottom: 0.75rem;
      }
      
      .nav-menu {
        list-style-type: none;
        padding: 0;
        margin: 0;
        
        .nav-item {
          .nav-link {
            display: flex;
            align-items: center;
            padding: 1.2rem 0rem;
            color: white;
            text-decoration: none;
            transition: all 0.2s ease;
            gap: 2px;
            
            .nav-icon {
              font-size: 1.6rem;
              display: flex;
              align-items: center;
              justify-content: center;
              color: white;
            }
            
            &:hover {
              color: var(--bs-warning) !important;
              background-color: rgba(var(--bs-warning));
              
              .nav-icon {
                color: var(--bs-warning) !important;
              }
            }
            
            &.active {
              color: var(--bs-warning) !important;
              background-color: rgba(var(--bs-warning));
              font-weight: 500;
              
              .nav-icon {
                color: var(--bs-warning) !important;
              }
            }
          }
        }
    }
  }
  
  &.collapsed {
    width: 70px;
    
      .menu-title {
        opacity: 0;
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
      }
      
      .nav-link {
        justify-content: center !important;
        padding: 1rem !important;
        
        .nav-icon {
          margin: 0 !important;
        }
        
        .nav-text {
          display: none;
        }
      }
  }
}
